.gitignore
*.class
.classpath
.project
.settings/
# Package Files #
*.jar
*.war
*.ear
/target/
## File-based project format:
*.iws
*.iml
*.ipr

.idea/
## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
/bin/
