<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/core/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/custom/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{//cdn.bootcss.com/iview/2.0.0-rc.9/styles/iview.css}" rel="stylesheet" type="text/css">
    <script th:src="@{//cdn.bootcss.com/vue/2.2.6/vue.js}"></script>
    <script th:src="@{//cdn.bootcss.com/vue-resource/1.2.1/vue-resource.min.js}"></script>
    <script th:src="@{//cdn.bootcss.com/iview/2.0.0-rc.9/iview.min.js}"></script>
    <script th:src="@{//cdn.bootcss.com/vue-router/2.3.1/vue-router.min.js}"></script>
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>UMonitor</h1>
        </div>
        <div id="menu">
            This is the Menu
                <router-link to="/chassis/1">/chassis/1</router-link>
                <router-link to="/chassis/2">/chassis/2</router-link>
                
        </div>
        <div id="mainContent">
            <div id="sidebar">
                <i-Menu theme="dark" mode="vertical" style="width: 180px" @on-select="showChassis">
                    <Menu-group title="机框管理">
                        <Menu-item v-for="index in num" :key="index" :name="index" >
                            机框_{{index}}
                        </Menu-item>
                    </Menu-group>
                </i-Menu>
            </div>
            <div id="content">
                <!-- <my-table class="layout-content-main" v-for="(door,index) in doors" :key="index" :door="door" :tableindex="index" :curchassisno="curchassisno"></my-table> -->
 
                <router-view name="view"></router-view>
            </div>
        </div>
        <div id="footer">
            This is the footer
            <input type="text">       
        </div>
        <Back-top></Back-top>
    </div>
<!--     <div id="app">
  <h1>Hello App!</h1>
  <p>
       <router-link to="/user/foo">/user/foo</router-link>
            <router-link to="/user/bar">/user/bar</router-link>
    
  </p>
  <router-view></router-view>
</div> -->
</body>
<script th:src="@{/js/custom/index.js}"></script>

</html>
