body {
    font-family:Verdana; 
    font-size:14px; 
    margin:0;
}
#container {
    margin:0 auto; 
    width:100%;
}
#header {
    height:100px; 
    background:#DCDCDC; 
    /*margin-bottom:5px;*/
}
#menu { 
    height:30px; 
    background:#3d454c;
    /*margin-bottom:5px;*/
}
#mainContent { 
    overflow:auto;
    zoom:1; 
    /*margin-bottom:5px;*/
}
#sidebar { 
    float:left; 
    width:180px;
    /*background:#cf9; */
    height: 100%;
}
#content { 
    margin-left:180px !important; 
    margin-left:202px; 
    height:auto !important; 
    height:100px; 
    /*background:#ffa;*/
}
#footer { 
    height:60px; 
    background:#DCDCDC;
}