.grid {
  width: 600px;
  height: 400px;
  text-align: center;
  margin:0 auto;
  /*border:1px solid #F00 */
}
body{ 
	/*text-align:center*/
}
label{
    color: red;
}
.ui-grid-row:last-child > div > div > div {
border-bottom: 1px solid gray !important;
}
.ui-grid-row > div > div > div:last-child {
border-right: 1px solid gray;
}
