<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Pages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/custom/error.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<p>地址 : <span th:text="${path}"></span></p>
    <p>状态 : <span th:text="${status}" style="color: red"></span></p>
    <p>错误 : <span th:text="${error}"></span></p>
    <p>错误信息 : <span th:text="${message}"></span></p>
    <p>时间 : <span th:text="${#dates.format(timestamp, 'yyyy/MM/dd HH:mm:ss')}" ></span></p>
</body>
</html>