<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>	
    <script th:src="@{/js/angular.js}"></script>
    <script th:src="@{/js/angular-resource.js}"></script>
    <script th:src="@{/js/angular-touch.js}"></script>
    <script th:src="@{/js/angular-animate.min.js}"></script>
    <script th:src="@{/js/angular-sanitize.min.js}"></script>  

    <script th:src="@{/js/ui-grid.min.js}"></script>   
    <script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
    
    <link th:href="@{/css/ui-grid.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div ng-controller="MainCtrl" >
	   	<br> 
		<input type="tel" ng-model="id" placeholder="Enter a id here">
	   	<button type="button" class = "btn btn-primary" ng-click="serchById()">查询</button>
        <label ng-model="check"></label>
       	<br>
       	<div  id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination class="grid"></div>
   </div>
   
</body>
    <script th:src="@{/js/greeting.js}"></script>
</html>