<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>	
    <script th:src="@{/js/core/angular.js}"></script>
    <script th:src="@{/js/core/angular-resource.js}"></script>
    <script th:src="@{/js/core/angular-touch.js}"></script>
    <script th:src="@{/js/core/angular-animate.min.js}"></script>
    <script th:src="@{/js/core/angular-sanitize.min.js}"></script>  
    <script th:src="@{/js/core/ui-grid.min.js}"></script>   
    <!-- <script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script> -->
    
    <link th:href="@{/css/core/ui-grid.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/core/bootstrap.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/custom/main.css}" rel="stylesheet" type="text/css">
</head>

<body>  
    <br>
    <div ng-controller="MainCtrl">
        <form class="form-inline">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <select ng-model="itemseleted" ng-options="opt for opt in options" class="form-control"></select>
                            <div ng-show="itemseleted == '编号'">

                                
                            </div>
                            <input type="text" maxlength="20" ng-model="no" placeholder="Enter a no here" class="form-control"  
                                ng-show = "itemseleted == '编号'" 
                                onkeypress = 'return /^\d$/.test(String.fromCharCode(event.keyCode||event.keycode||event.which))'
                                oninput= 'this.value = this.value.replace(/\D+/g, "")'
                                onpropertychange='if(!/\D+/.test(this.value)){return;};this.value=this.value.replace(/\D+/g, "")'
                                onblur = 'this.value = this.value.replace(/\D+/g, "")'/>
                            <div class="input-group" ng-show = "itemseleted == '位号'">
                                  <input type="text" ng-model="chassis" class="form-control" maxlength="2" placeholder="chassis" >
                                  <span class="input-group-addon">-</span>
                                  <input type="text" ng-model="channel" class="form-control" maxlength="2" placeholder="channel" >
                                  <span class="input-group-addon">-</span>
                                  <input type="text" ng-model="module" class="form-control" maxlength="2" placeholder="module" >
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="serchById()" 
                                ng-disabled = "no == null">查询</button>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <div  id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination class="grid"></div>
        </form>
    </div>
    
<!-- 
    <div ng-controller="MainCtrl" >
        <div class="form-group">
            <select ng-model="itemseleted" ng-options="opt for opt in options" class="form-control"></select>         
            <input type="text" maxlength="20" ng-model="id" placeholder="Enter a id here" class="form-control"
            onkeypress = 'return /^\d$/.test(String.fromCharCode(event.keyCode||event.keycode||event.which))'
            oninput= 'this.value = this.value.replace(/\D+/g, "")'
            onpropertychange='if(!/\D+/.test(this.value)){return;};this.value=this.value.replace(/\D+/g, "")'
            onblur = 'this.value = this.value.replace(/\D+/g, "")'/>
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="serchById()" ng-disabled = "id == 0 || id == null">查询</button>
            <label ng-if="id == 0" >请输入大于0的整数</label>          
        </div>
        <br>
        <div  id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination class="grid"></div>
    </div> -->

</body>
<script th:src="@{/js/greeting.js}"></script>
</html>