<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>	
    <script th:src="@{/js/angular.js}"></script>
    <script th:src="@{/js/angular-touch.js}"></script>
    <script th:src="@{/js/angular-animate.min.js}"></script>
    <script th:src="@{/js/angular-sanitize.min.js}"></script>  

    <script th:src="@{/js/ui-grid.min.js}"></script>   
    <script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
    
    <link th:href="@{/css/ui-grid.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body> 
	<div ng-controller="MainCtrl" >

	   	<br> 
		<input type="text" ng-model="id" placeholder="Enter a id here2">
	   	<button type="button" class = "btn btn-primary" ng-click="serchById()">查询</button>
       	<br>
       	<div  id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination class="grid"></div>
   </div>
</body>

<script>
    var app = angular.module('app', ['ngTouch', 'ui.grid', 'ui.grid.resizeColumns', 'ui.grid.moveColumns', 'ui.grid.pagination']);

    app.controller('MainCtrl', function($scope, $http, i18nService) {
            i18nService.setCurrentLang("zh-cn"); //国际化
            
            $scope.gridOptions = {
                showGridFooter: false,
                showColumnFooter: false,
                enableFiltering: true,
                enableColumnResizing: true,
                enableGridMenu: true,
                // flatEntityAccess: true,
                //fastWatch: true,
                //pagination
                data : 'myData',
                paginationPageSizes: [25, 50, 75],
                paginationPageSize: 25,
                columnDefs: [{
                    name: 'id',
                    width: 80,
                    displayName: 'ID'
                }, {
                    name: 'no',
                    width: 150,
                    displayName: '编号'
                }, {
                    name: 'chassis',
                    width: 80,
                    displayName: '机框'
                }, {
                    name: 'channel',
                    width: 80,
                    displayName: '通道'
                }, {
                    name: 'module',
                    width: 80,
                    displayName: '模块'
                }, {
                    name: 'isformat',
                    width: 100,
                    type: 'booelean',
                    displayName: '分容',
                    cellFilter: 'status',
                    enableSorting: false
                }, {
                    name: 'ifgrad',
                    width: 100,
                    type: 'booelean',
                    displayName: '分选',
                    cellFilter: 'status',
                    enableSorting: false
                }, {
                    name: 'ismatch',
                    width: 100,
                    trpe: 'boolean',
                    displayName: '配对',
                    cellFilter: 'status',
                    enableSorting: false
                }, {
                    name: 'ismastop',
                    width: 100,
                    trpe: 'boolean',
                    displayName: '停止',
                    cellFilter: 'status',
                    enableSorting: false
                }, ],
            };

            $scope.serchById = function(){
                $scope.myData = [];
            	$scope.id = 'test';
                alert('1234');
                $http({
                  method: 'GET',
                  url: '/findById',
                  params :{ 'id': 1 }
                }).then(function successCallback(response) {
                   // console.log(response.data);
                   $scope.myData.push(response.data) ;
                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });
            }   
        })
        .filter('status', function() {

            var statusMap = ['是', '否'];

            return function(code) {
                if (code) {
                    return statusMap[0];
                } else {
                    return statusMap[1];
                }
            };
        });
</script>
</html>