<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="../static/js/vue.min.js"></script>
    </head>
    
    <body>
        <!--这是我们的View-->
        <div id="app">
           <h1> {{ message }}</h1>
           <input type="text" v-model="message"/>
           <h1 v-if = "age >=25">age:{{age}}</h1>
        </div>
        <div id="app2">
        	<table>
        		<thead>
        			<tr>
        				<th>Name</th>
        				<th>Age</th>
        				<th>Sex</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr v-for="person in people">
        				<td>{{person.name}}</td>
        				<td>{{person.age}}</td>
        				<td>{{person.sex}}</td>
        			</tr>
        		</tbody>
        	</table>     	
        </div>
    </body>
    
    <script>
        new Vue({
            el: '#app',
            data: {
            	message : 'this is a demo',
            	age:28
            }
        })
    </script>
</html>
