<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app" >

<head>	
    <script th:src="@{/js/angular.min.js}"></script>
    <script th:src="@{/js/angular-touch.js}"></script>
    <script th:src="@{/js/angular-animate.min.js}"></script>
    <script th:src="@{/js/angular-sanitize.min.js}"></script>  

    <script th:src="@{/js/ui-grid.min.js}"></script>   
    <script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
    
    <link th:href="@{/css/ui-grid.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div ng-controller="MainCtrl" >
	<button id="refreshButton" type="button" class="btn btn-success" ng-click="refreshData()">Refresh Data</button>  <strong>Calls Pending:</strong> <span ng-bind="callsPending"></span>
  <br>
  <br>
  <strong>{{ myData.length }} rows</strong>
  <br>
      <div  id="grid1" ui-grid="gridOptions" class="grid"></div>
      </div>
  </div>
</body>

<script>
var app = angular.module('app', ['ngTouch', 'ui.grid']);
 
app.controller('MainCtrl', ['$scope','uiGridConstants', '$http','i18nService', function ($scope, uiGridConstants, $http, i18nService) {
i18nService.setCurrentLang("zh-cn");//国际化
var data = [];
$scope.gridOptions = {
    showGridFooter: true,
    showColumnFooter: true,
    enableFiltering: true,
    columnDefs: [
        { field: 'id', width: '13%' },
        { field: 'no', width: '13%' },
        { field: 'chassis', width: '13%' },
        { field: 'channel',  width: '13%', displayName: 'Age for min' },
        { field: 'module',  width: '13%', displayName: 'Age for max' },
        { field: 'isformat', width: '14%' },
        { field: 'ifgrad', width: '20%' }
    ],
    data: data,
    onRegisterApi: function(gridApi) {
            $scope.gridApi = gridApi;
    }
};
 
$scope.toggleFooter = function() {
  $scope.gridOptions.showGridFooter = !$scope.gridOptions.showGridFooter;
  $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.OPTIONS);
};
 
$scope.toggleColumnFooter = function() {
  $scope.gridOptions.showColumnFooter = !$scope.gridOptions.showColumnFooter;
  $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.OPTIONS);
};
 
$http.get('/getAll')
  .success(function(data) {
    data.forEach( function(row) {
      row.registered = Date.parse(row.registered);
    });
    $scope.gridOptions.data = data;
  });
}]);

</script>
</html>