<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>UMonitor</title>
    <link th:href="@{/css/core/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/core/iview.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/custom/index.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/core/vue.js}"></script>
    <script th:src="@{/js/core/vue-resource.min.js}"></script>
    <script th:src="@{/js/core/vue-router.min.js}"></script>
    <script th:src="@{/js/core/iview.min.js}"></script>
</head>

<body>
    <div id="app">
        <div class="layout-ceiling">
            <div class="layout-ceiling-main">
                <a href="#">注册登录</a> |
                <a href="#">安全中心</a> |
                <a href="#">帮助中心</a>
            </div>
        </div>
        <i-Menu mode="horizontal" theme="dark">
            <div class="layout-logo"></div>
            <div class="layout-nav">
                <Menu-item name="1">
                    <Icon type="wrench"></Icon>
                    基本设置
                </Menu-item>
                <Menu-item name="2">
                    <Icon type="settings"></Icon>
                    工步设置
                </Menu-item>
                <Menu-item name="3">
                    <Icon type="hammer"></Icon>
                    编号设置
                </Menu-item>
                <Menu-item name="4">
                    <Icon type="flash"></Icon>
                    电池分选
                </Menu-item>
                <Menu-item name="5">
                    <Icon type="search"></Icon>
                    查询
                </Menu-item>
            </div>
        </i-Menu>
        <div class="layout-content">
            <Row>
                <i-col span="2">
                    <i-Menu theme="light" width="auto" @on-select="showChassis">
                        <Menu-group title="机框管理">
                            <Menu-item v-for="index in num" :key="index" :name="index">
                                机框_{{index}}
                            </Menu-item>
                        </Menu-group>
                    </i-Menu>
                </i-col>
                <i-col span="22">
                    <div class="layout-content-main">
                        <router-view name="view"></router-view>
                    </div>
                </i-col>
            </Row>
        </div>
        <div class="layout-copy">
            <p>2016-2017 &copy; ZK Technology Co., Ltd.</p>
            <p>地址: 广东省中山市小榄镇埒西一广海路G-50二楼
            <p>电话: 760-22189732  传真: 0760-22189087</p>
        </div>
        <Back-top></Back-top>
    </div>
</body>
<script th:inline="javascript">
        var v = new Vue({ //加载java后端传来的参数,必须放在第一个js加载的
            data:{
                vnum : [[${chassis}]]
            },
        });
</script>
<script th:src="@{/js/custom/index.js}"></script>

</html>
